{% extends 'main.html' %}
{% block content %}
<h1>Sign Up</h1>
<form method="post" class="form-card">
    {% csrf_token %}
    First Name: <input type="text" name="first_name" value="{{ customer.first_name }}"><br><br>
    Name: <input type="text" name="last_name" value="{{ customer.last_name }}"><br><br>
    Email: <input type="email" name="email" value="{{ customer.email }}"><br><br>
    Username: <input type="text" name="username" value="{{ customer.username }}"><br><br>
    <button type="submit" class="bt btn-primary">Update</button>
</form><br>
<button onclick="history.back()" class="btn btn-info">Cancel</button>
{% endblock %}