{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1>Create Country as Category</h1>

    <form method="POST" enctype="multipart/form-data" class="form-card">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="form-buttons">
            <button type="submit" class="btn btn-primary">🌍 Share</button>
            <button class="btn btn-info">❌ Cancel</button>
            <a href="{% url 'read_country' %}" class="btn btn-info">📖 View All</a>
        </div>
    </form>
</div>
{% endblock %}
