<nav class="navbar">
    <div class="nav-container">
        <a href="{% url 'home' %}" class="nav-logo">🌍 TravelTales</a>
        <ul class="nav-menu">
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'signout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'signin' %}">Sign In</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
